
fieldset{
    text-align: center;
    border: none;
    width: 480px;
    padding: 0px;
    margin: 0 auto;
    /* background-color: red; */
    margin-bottom: 5px;
}
form #btn{
    background-color: #2ecc71;
    width: 100px;
}
form{
    /* background-color: royalblue; */
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* #btn{
    background-color: #2ecc71;
    width: 100px;
} */
input{
    width: 480px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid #2ecc71;
    height: 30px;
    color: #636e72;
    text-align: center;
}
input:focus{
    transition-duration: .5s;
    border: 1px solid  #2ecc71;
}
#btn{
    width: 100%;
    /* margin-top: 10px; */
    background-color: #2ecc71;
    outline: none;
    border: 1px solid  #2ecc71;
    height: 30px;
    transition-duration: .5s;
    color: white;
}
#btn:hover{
    cursor: pointer;
    background-color: white;
    transition-duration: .5s;
    color: #2ecc71;
}