@import"https://maxcdn.boostrapcdncom/font-awesome/4.7.0/css/font-awesome.min.css";
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(lock.jpg) no-repeat;
    background-size: 400vw;
    background-image: 400vh;
}
.login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.login-box h1{
    font-size: 40px;
    border-bottom: 4px solid green;
    margin-bottom: 50px;
    padding: 9px 0;
}
.textbox{
    width: 100px;
    overflow: hidden;
    font-size: 20px;
    padding: 5px 0;
    margin: 8px 0;
    border-bottom: 1px solid green;
}
.textbox i{
    width: 26px;
    text-align: center;
    float: left;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: black;
}
.btn:hover{
    background:goldenrod ;
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    #container{
        display: grid;
        height: auto;
    }
    body{
        width: 100%;
        height: auto;
        padding: 50px;
    }
    .btn{
        height: 1.5pc;
        width: 4pc;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#5d4954 ;
    font-family: 'Poppins', sans-serif;
}
.logo{
    color: rgb(216, 211, 211);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(216, 211, 211);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: rgb(216, 211, 211);
}
@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}
@media screen and (max-width:786px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color:#5d4954 ;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}


.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}