body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: black;
}
html{
    scroll-behavior: smooth;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 10vh;
    background-color:#000 ;
    /* background-color: cadetblue; */
    font-family: 'Poppins', sans-serif;
}

.logo{
    color: white;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 60px;
}

.logo b {
    color: purple;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a{
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 20px;
    padding: 20px;
    /* border: 1px solid red; */
    border-radius: 10px;
    font-size: 15px;
}

.nav-links :hover {
    cursor: pointer;
    background-color: purple;
    border-radius: 5px;
}

section {
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 15vh;
}

.press{
    margin-right: 30px;
    margin-top: 150px;
}

.small-info {
    display: flex;
    justify-content: space-around;
}
.small-info img {
    height: 50vh;
    width: 25vw;
    border-radius: 50%;
    padding-right: 50px;
}

.small-info div {
    text-align: justify;
}

.hero-icons {
    display: flex;
    justify-content: space-between;
    max-width: 30vw;
    margin-left: 35px;
    padding-top: none;
}

.hero-icons div {
    border: 2px solid white;
    font-size: 32px;
    padding: 8px;
    border-radius: 50%;
}

.hero-buttons {
    margin-left: 35px;
    margin-top: 15px;
}

.hero-buttons button {
    padding: 6px;
    background: none;
    color: white;
    border-radius: 15px;
    width: 8rem;
    border: 1px solid white;
}

.press button {
    height: 4vh;
    width: 1px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}

.hero-buttons :hover {
    background-color: purple;
    cursor: pointer;
}

.hero-icons :hover {
    background-color: purple;
    cursor: pointer;
}